<% content_for :title, "Präsentator bearbeiten" %>

<section class="backend-shell">
  <header class="backend-topbar">
    <div>
      <h1>Präsentator bearbeiten</h1>
      <p><%= @presenter.name %></p>
    </div>
    <div class="backend-topbar-actions">
      <%= link_to "Zur Präsentatoren-Liste", backend_presenters_path, class: "button button-secondary button-compact" %>
    </div>
  </header>

  <%= render "form", presenter: @presenter, submit_label: "Save" %>
</section>
