<div class="editor-actions-row">
  <label class="check-inline">
    <%= check_box_tag "next_event_toggle", "1", next_event_enabled, data: { next_event_target: "toggle", action: "change->next-event#toggleChanged" } %>
    <span>Auto-Weiter</span>
  </label>
  <button type="submit" form="<%= dom_id(event, :editor_form) %>" class="button button-save-primary">Speichern</button>
  <% unless event.published? %>
    <button type="submit" form="<%= dom_id(event, :editor_form) %>" name="save_and_publish" value="1" class="button">Publizieren</button>
  <% end %>
  <% if event.published? %>
    <%= button_to "Depublizieren",
                  unpublish_backend_event_path(event),
                  method: :patch,
                  class: "button button-secondary",
                  form: { data: { turbo_stream: true } } %>
  <% end %>
</div>
