<div class="event-image-crop-sidebar">
  <%= render "backend/events/event_image_meta_controls",
             editor_form_id: editor_form_id,
             editor_status: editor_status,
             event: event,
             event_image: event_image,
             event_image_sub_text_upload_id: event_image_sub_text_upload_id,
             selected_grid_variant: selected_grid_variant %>
  <%= render "backend/events/event_image_crop_settings",
             event_image: event_image,
             selected_grid_variant: selected_grid_variant %>
</div>
