<% content_for :title, "Neues Event" %>
<% hero_signed_ids = Array(@manual_image_form_values[:detail_hero_signed_ids]).reject(&:blank?) %>
<% slider_signed_ids = Array(@manual_image_form_values[:slider_signed_ids]).reject(&:blank?) %>
<% hero_signed_id_candidate = hero_signed_ids.first %>
<% hero_blob = preuploaded_blob_from_signed_id(hero_signed_id_candidate) %>
<% hero_signed_id = hero_blob.present? ? hero_signed_id_candidate : nil %>
<% editor_form_id = dom_id(@event, :editor_form) %>
<% manual_event_image = EventImage.new(
     sub_text: @manual_image_form_values[:sub_text],
     grid_variant: @manual_image_form_values[:grid_variant],
     card_focus_x: @manual_image_form_values[:card_focus_x],
     card_focus_y: @manual_image_form_values[:card_focus_y],
     card_zoom: @manual_image_form_values[:card_zoom]
   ) %>

<section class="backend-shell">
  <header class="backend-topbar">
    <div>
      <h1>Manuelles Event anlegen</h1>
    </div>
    <div class="backend-topbar-actions">
      <%= link_to "Zur Inbox", backend_events_path, class: "button button-secondary button-compact" %>
    </div>
  </header>

  <%= render "backend/events/new_editor_panel",
             event: @event,
             all_genres: @all_genres,
             all_presenters: @all_presenters,
             selected_genre_ids: @selected_genre_ids,
             selected_presenter_ids: @selected_presenter_ids,
             manual_ticket_url: @manual_ticket_url,
             manual_ticket_sold_out: @manual_ticket_sold_out,
             editor_form_id: editor_form_id,
             active_editor_tab: @active_editor_tab,
             manual_event_image: manual_event_image,
             manual_event_image_blob: hero_blob,
             manual_event_image_signed_id: hero_signed_id,
             slider_alt_text: @manual_image_form_values[:slider_alt_text],
             slider_sub_text: @manual_image_form_values[:slider_sub_text],
             slider_signed_ids: slider_signed_ids %>
</section>
