<div id="page_topbar_editor_actions"
     class="backend-topbar-editor-actions"
     data-editor-inbox-target="headerActions">
  <% if page.present? %>
    <%= render "backend/pages/editor_actions", page: page, query_filter: query_filter %>
  <% end %>
</div>
