aws_region  = "eu-central-1"
aws_profile = "stgt-live-admin"

project     = "stgt-live"
environment = "prod"

availability_zones  = ["eu-central-1a", "eu-central-1b"]
public_subnet_cidrs = ["10.42.1.0/24", "10.42.2.0/24"]
private_subnet_cidrs = ["10.42.101.0/24", "10.42.102.0/24"]

allowed_ssh_cidrs = ["203.0.113.10/32"]
key_pair_name     = "stgt-live-prod"

ec2_instance_type = "t3.small"

create_rds        = true
db_instance_class = "db.t4g.micro"
db_name           = "stuttgart_live_de_production"
db_username       = "stuttgart_live_de"
# Set TF_VAR_db_password in your shell before terraform apply.

# Optional DNS record
route53_zone_id = ""
app_hostname    = ""
