github_owner      = "marcbey"
repository        = "stuttgart-live.de"
environment_name  = "production"

app_host          = "stuttgart-live.schopp3r.de"
kamal_web_host    = "46.225.224.194"

dotenv_file           = "../../../../../.env"
rails_master_key_file = "../../../../../config/master.key"
ssh_private_key_file  = "~/.ssh/stgt-live-hetzner-github"
