<% if notice.present? || alert.present? %>
  <div class="flash-wrap">
    <% if notice.present? %>
      <p class="flash flash-notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="flash flash-alert"><%= alert %></p>
    <% end %>
  </div>
<% end %>
